#date-filter-container
	h3 Specify a range of dates
	#start-date
		span Start: 
		span
			input#start-date-input(type='date', name='start-dater')
	#end-date
		span End: 
		span
			input#end-date-input(type='date', name='end-dater')
	button(onclick='filterByDate();') Submit
	