doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Arizona Integrated Seismic Network
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet", href="vendor/bootstrap-3.0.0/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://ol3js.org/en/master/build/ol.css")
		link(rel="stylesheet", href="styles/base.css")
	body
		#map.col-md-12
		#sidebar
			img(src="ABSN_logo2.png")
			#graph
			#chart

		script#table(type="text/html")
			.panel.panel-success
				.panel-heading Attribute Data
					table
						thead
							tr
								th <%= data %>
		script(src="http://code.jquery.com/jquery-1.9.1.js")
		script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
		script(src="vendor/bootstrap-3.0.0/dist/js/bootstrap.min.js")
		script(src="http://ol3js.org/en/master/build/ol.js")
		script(src="http://d3js.org/d3.v3.min.js")
		script(src="vendor/underscore-min.js")
		script(src="vendor/backbone-min.js")
		script(src="vendor/colorbrewer.js")
		script(src="scripts/model-controls.js")
		script(src="scripts/view-layers.js")
		script(src="scripts/model-layers.js")
		script(src="scripts/view-layers.js")
		script(src="scripts/model-graph.js")
		script(src="scripts/model-table.js")
		script(src="scripts/view-table.js")
		script(src="scripts/app.js")