doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        title Arizona Earthquakes
        link(rel="stylesheet", href="vendor/leafletjs/leaflet.css")
        link(rel="stylesheet", href="styles/base.css")
    body
        #map(style="position:absolute;top:0;left:0;right:0;bottom:0;")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="vendor/leafletjs/leaflet.js")
        script(src="scripts/app.js")