<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arizona Integrated Seismic Network</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/leaflet.draw.css" />
    <link rel="stylesheet" href="styles/base.css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle=
            "collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Arizona Broadband Seismic Network</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Toggle Layers <span class="caret"></span>
              </a>
            <ul id="dropmenu" class="dropdown-menu" role="menu">
            </ul>
            </li>
            <li><a id="query-control" href="#">Query Area</a></li>
            <li id="content-control"><a href="#">Attribute Table</a></li>
            <li><a href="#">Download Data</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="map" class="col-md-12"></div>
    <div id="content-tab" class="hide-tab">

    </div>
    <script id="table" type="text/html">
      <div class="panel panel-success">
        <div class="panel-heading">Attribute Data				
          <table class="table">
            <thead>
              <tr>
                <% _.each(data, function(key) { %>
                <% _.each(key, function(k) { %>
                <th><%= k %></th><% }) %> 
                <% }); %>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </script>
    
    <script id="toggle-layers-template" type="text/html">
      <li>
        <a id=<%= model.get("id") %> href="#"><%= model.get("layerName") %></a>
      </li>
    </script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="vendor/leaflet.draw.js"></script>
    <script src="scripts/model-layers.js"></script>
    <script src="scripts/view-layers.js"></script>
    <script src="scripts/view-content.js"></script>
    <script src="scripts/model-query.js"></script>
    <script src="scripts/view-query.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>