html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url(glyphicons-halflings-regular.ttf);
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

#map {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.custom-div-leaflet:after {
  font-family: "Glyphicons Halflings";
  content: "\e124";
  font-size: 20px;
  color: blue;
}

#content-tab {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  border-radius: 4px 4px 4px 4px;
  left: 1%;
  right: 1%;
  height: 50%;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

#content-tab.hide-tab {
  bottom: -51%;
}

#content-tab.show-tab {
  bottom: 1%;
}