.axis path,
.axis line {
    fill:none;
    stroke:#000;
    shape-rendering:crispEdges;
}
.dot {
  stroke: #000;
}

.my-custom-control {
    width: 26px;
    height: 26px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.magnitude-style-control {
    width: 26px;
    height: 26px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.help-control {
    width: 26px;
    height: 26px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.glyphicon-question-sign {
    font-size: 18px;
}

.glyphicon-indent-right {
    font-size: 15px;
}

#sidebar {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
}

#sidebar svg {
    background-color: rgba(255,255,255,0.5);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.eq-magnitude-control {
    width: 200px;
}

#sidebar svg .domain {
    stroke: white;
}

.custom-control-title {
    text-align: center;
    font-weight: bold;
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    color: white;
}

.date-control {
    width: 200px;
}

#sidebar p {
    font-family: 'Londrina Solid', cursive;
    font-size: 35px;
    text-align: center;
    color: white;
    opacity: 1;
}